{% extends "base.html" %}
{% block header %}
<h1>{% block title %}Create{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="recipe-form">
    <div class="form-row" id="title-row">
        <input name="recipe_name" id="abc" placeholder="your recipe here">
    </div>
    <div class="form-row">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br>
    </div>
    <div class="form-row">
        <label for="rating">Rating:</label>
        <input class="rating-input" type="number" name="rating" min="1" max="5"><br>
    </div>
    <div class="form-row">
        <label for="prep_time">Prep time:</label>
        <input type="text" name="prep_time" class="time-input">
        <label for="cook_time">Cook time:</label>
        <input type="text" name="cook_time" class="time-input">
    </div>
    <hr>
    <div class="form-row" id="ingredient-container">
        <h2 class="form-section-header">Them Materials</h2>
        <table class="ingredients">
          <thead>
              <tr>
                  <th class="row-1 row-ingredient">Ingredient</th>
                  <th class="row-2 row-amount">#</th>
                  <th class="row-3 row-unit">Unit</th>
                  <th class="row-4 row-button"></th>
              </tr>
          </thead>
          <tbody>
              <tr class="input-row">
                  <td class="ingredient-name"><input name="ingredient-name[]" type="text" class="ingredient-name-input"></td>
                  <td class="ingredient-amount"><input name="ingredient-amount[]" type="number" class="ingredient-amount-input"></td>
                  <td class="ingredient-unit"><input name ="ingredient-unit[]" type="text" class="ingredient-unit-input"></td>
                  <td class="plus-button-container"><Button type="button" class="plus-button">+</Button></td>
              </tr>
          </tbody>
        </table> 
      </div>
    <hr>
    <div class="form-row">
        <h2 class="form-section-header">Instructions</h2>
        <textarea name="instructions" rows="5" placeholder="do you know how to cook this?"></textarea>
    </div>
    <div class="form-row">
        <button id="save-button" formmethod="post" formaction="{{ url_for('web_api_bp.create_recipe') }}">Save</button>
        <!--<button id="save-button" formmethod="post" formaction="127.0.0.1:5000/front/v0.1/recipes/create">Save</button> -->

    </div>

</form>

{% endblock %}
