{% extends 'base_with_sidebar.html' %}
{% block main %}
<main>
{% for recipe in recipes %}

    {{ macros.create_card(recipe, true) }}

{% endfor %}
</main>
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <table>
        <tbody class="selection-tbody">
            <tr class="selected-recipe-row">
                <td><p></p></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

<!-- <div class="grid-container-1">
    <div class="spacer-left"></div>
    <div class="cards-container">
        {% for recipe in recipes %}
        {{ macros.create_card(recipe, true) }}
        {% endfor %}

    </div>
    <div class="sidebar">
        <table>
            <tbody class="selection-tbody">
                <tr class="selected-recipe-row">
                    <td><p></p></td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="generate-list-btn">Generate List
            
        </button>
    </div>
    <div class="spacer-right"></div>
</div> -->


