h2 {
    color: green;
}
.recipe-entry-timeline {
    list-style-type: none
}

.recipe-entry-timeline li {
    display:inline;
}

.recipe-entry ul {
    padding-left: 0;
}

.recipe-entry li {
    display: inline;
    padding-right: 10px;
}

/* create.html styling */

form {
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 0 auto;
    width: 50%;
}

hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px
}

label {
    font-weight: bold;
}

#abc {
   margin: 0 auto;
   padding-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   width: 90%;
   display: block;
   font-size: 2em;
   border: none;
   color: #3FBF63;
}

.form-row {
   width: 90%;
   /*border: 1px solid #ccc;*/
   margin: 7px auto;
}

.form-row label {
   width: 80px;
   /*background: red;*/
   display: inline-block;
   text-align: right;
}
.time-input {
    width: 40px;
}
.form-section-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.form-ingredient-item label {
    display: block;
}
.form-ingredient-item {
    width: 100%;
}

.form-inner-col {
    display:inline-block;
}
#unit-div {
    /*max-width: 80px;*/
    width:15%;
}
#unit-div>label {
    /*max-width: 70px;*/
    width: 100%;
    text-align: center;
}
#unit-div>input {
    /*max-width: 70px;*/
    width: 100%;
    box-sizing: border-box;

}
#amount-div {
    /*max-width: 35px;*/
    width:10%
}
#amount-div>label {
    /*max-width: 35px;*/
    width: 100%;
    text-align: center;
}
#amount-div>input {
    /*max-width: 30px;*/
    width: 100%;
    box-sizing: border-box;
}
#name-div {
    width: 65%;
}
#name-div>label {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#name-div>input {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
#plus-sign-div {
    width: 5%;
    color: #3FBF63;
}

button {
    background-color:#3FBF63;
    border-radius: 5px;
}
textarea {
    width: 100%;
}

p {
   color: red;
   text-align: center;
}
