/* BEGIN universal styling */
label {
    font-weight: bold;
}
/* END universal styling */

/* BEGIN base.html styling */

body {
    margin: 0;
}
.menu {
    position:fixed;
    width: 100%;
    top: 0;

}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background: green;
    margin: 0;
}
.nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-right:2em;
}
.nav a:hover {
    background: darkgreen
}
.content-container {
    padding-top:50px;
}
/* END base.html styling */

/* BEGIN form styling */
form.recipe-form {
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 20px auto;
    width: 600px;
}
.form-row {
    width: 95%;
    margin: 10px auto;
}
.form-row label {
    width: 80px;
    display: inline-block;
}
.time-input,.rating-input {
    width: 40px;
}
.form-section-header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-style: italic;
    color: green;
}
.recipe-title {
    width: 88%;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    color: green;
    margin: 0;
    display: inline-block;
 }
.recipe-title::placeholder {
    color: grey;
    font-size: .5em;
    opacity: 75%;
}
/* Embedded input styling */
.ingredients input {
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.row-amount input, .row-unit input {
    text-align: center;
}

.add-row-btn {
    border-radius: 3px;
    border-width: 0px;
    margin-top: 5px;
    padding: 5px 0;
    background-color: green;
    font-weight:bold;
    width: 15%;
    color: white;
}
.delete-row-btn {
    background-color: red;
    opacity: 40%;
    color: white;
    border: none;
}
.save-btn {
    display: inline-block;
    margin-right:0;
    background-color: white;
    border: none;
}

.delete-recipe-btn {
    display: inline-block;
    background-color: white;
    border: none;
}
.chill-input {
    border: none;
 }

 .edit-link:-webkit-any-link {
    text-decoration: none;
 }
 .edit-link {
    border-radius: 3px;
    border-width: 0px;
 }
 textarea {
    width: 100%;
    margin-bottom: 20px;
}

/* END form styling */

/* recipe card styling */


.card {
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 20px auto;
    width: 600px;
}
.card-row {
    width: 95%;
    /*border: 1px solid #ccc;*/
    margin: 10px auto;
 }
.recipe-entry-timeline {
    list-style-type: none;
    padding-left: 0;
}

.recipe-entry-timeline li {
    display:inline;
    margin-right: 20px;
}
hr {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
}
.card-separator {
    width: 650px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-color: green;
}

.card-section-header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-style: italic;
    color: green;
}

.card-row label {
   width: 80px;
   display: inline-block;
}

/* ingredients table styling */
table {
    table-layout: fixed;
    width: 100%;
    white-space:nowrap;
    border-collapse: collapse;
}

.ingredients td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table row styling */

.row-ingredient {
    width:55%;
}
.row-amount {
    width:10%;
}
.row-unit {
    width:30%;
}
.row-button {
    width:5%;
}

/* Embedded input styling
.ingredients input {
    width: 100%;
    box-sizing: border-box;
    border: none;
} */

.card p {
    margin: 1px auto;
}

.row-amount p, .row-unit p{
    text-align: center;
    margin: 0 auto;
}

/* Button styling */

.edit-recipe-button {
    display: inline-block;
    
}

 /* BEGIN selection.html styling */
.grid-container-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width:800px;
    margin: 0 auto;
}

h2 {
    color: green;
}

.checkmark-form {
    display: inline-block;
}
.checkmark-form label {
    width:min-content
}
/* input[type=checkbox] {
    visibility:hidden
} */
input.is-selected-checkbox {
    width: 20px;
    height: 20px;
    box-sizing:border-box;
    margin-left: 30px;
}
.selected-list-container {
    text-align: center;
}
#generate-list-btn {
    margin: 0 auto;
    background-color: green;
    color: white;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    border-width: 0;
}
/* input.is-selected-checkbox:checked {
    background-color: green;
} */

 /* END selection.html styling*/