/* BEGIN universal styling */
* {
    box-sizing:border-box;
}
body {
    margin: 0;
}
/* label {
    font-weight: bold;
} */
h1,h2,h3,h4 {
    color: green;
}
ul {
    padding: 0px;
}
header {
    background-color: green;
    margin-bottom: 2px;
}
.nav-menu {
    height:100%;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: stretch;
    margin: 0;
    gap: 10px;
    height:100%;
    padding-right:30px;

}
nav li {
    min-width: 70px;
}

.nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    text-align: center;
    display: block;
    padding: 5px;
    /*margin-right:2em;
    padding:.8em; */
}
.nav a:hover {
    background: darkgreen
}
button.svg-btn-wrapper {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0 auto;
}
/* END universal styling */

/* BEGIN base_with_sidebar styling */
#site-container-with-sidebar {
    display: grid;
    height:100vh;
    top:0;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    ". main main main main sb sb sb .";
}
#site-container-with-sidebar > header {
    grid-area: hd;
    max-height: 40px;
    width: 100%;

}
#site-container-with-sidebar > main {
    grid-area: main;
    overflow:auto;
    justify-self: center;
}
#site-container-with-sidebar > div.sidebar {
    grid-area: sb;

}
/* END base_with_sidebar styling */

/* BEGIN base styling */
#site-container {
    display: grid;
    height:100vh;
    top:0;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 40px auto;
    grid-auto-rows: minmax(40px, auto);
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    ". . main main main main main . .";
}
#site-container > header {
    grid-area: hd;
    max-height: 40px;
    width: 100%;
}

#site-container > main {
    grid-area: main;
    overflow:auto;
    justify-self: center;
}


/* END base styling */

/* BEGIN form styling */
form.recipe-form {
    border: 1px solid #ccc;
    border-radius: 1em;
    width: 600px;
    margin-top:20px;
}
.form-row {
    width: 95%;
    margin: 10px auto;
}
.form-row label {
    width: 90px;
    display: inline-block;
}
.time-input,.rating-input {
    width: 40px;
}
.form-section-header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-style: italic;
    color: green;
}
.recipe-title {
    width: 88%;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    color: green;
    margin: 0;
    display: inline-block;
 }
.recipe-title::placeholder {
    color: grey;
    font-size: .5em;
    opacity: 75%;
    font-weight: normal;
}
/* Embedded input styling */
.ingredients input {
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.author-input {
    font-style:italic;
}
.row-amount input, .row-unit input {
    text-align: center;
}
hr.table-end-marker {
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    opacity:50%;
    border-color:rgb(240, 240, 240);
}
.add-row-btn {
    border:none;
    margin: 0 auto;
    background-color: white;
    width: 100%;
}
.bi-plus-circle {
    color:green;
}
.bi-x-circle {
    color: red;
}
.save-recipe-btn {
    border-radius: 3px;
    border-width: 0;
    width:100px;
    background-color: green;
    color:white;
    margin:0 auto;
}

.delete-recipe-btn {
    display: inline-block;
    background-color: white;
    border: none;
}

 .edit-link:-webkit-any-link {
    text-decoration: none;
 }
 .edit-link {
    border-radius: 3px;
    border-width: 0px;
 }
 textarea {
    width: 100%;
    margin-bottom: 20px;
}

/* END form styling */

/* recipe card styling */

.card a {
    text-decoration: none;
}
.card {
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 20px;
    min-width: 400px;
    max-width: 650px;
}
.card-row {
    width: 95%;
    /*border: 1px solid #ccc;*/
    margin: 10px auto;
 }
 .recipe-entry-author {
    font-style:italic;
 }
.recipe-entry-timeline {
    list-style-type: none;
}

.recipe-entry-timeline li {
    display:inline;
    margin-right: 20px;
}
hr {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
}
.card-separator {
    min-width: 400px;
    max-width: 650px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-color: green;
}

.card-section-header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-style: italic;
    color: green;
}

.card-row label {
   width: 80px;
   display: inline-block;
}

/* ingredients table styling */
table {
    table-layout: fixed;
    width: 100%;
    white-space:nowrap;
    border-collapse: collapse;
}

.ingredients td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table row styling */

.row-ingredient {
    width:55%;
}
.row-amount {
    width:10%;
}
.row-unit {
    width:30%;
}
.row-button {
    width:5%;
}

/* Embedded input styling
.ingredients input {
    width: 100%;
    box-sizing: border-box;
    border: none;
} */

.card p {
    margin: 1px auto;
}

.row-amount p, .row-unit p{
    text-align: center;
    margin: 0 auto;
}

/* Button styling */

.edit-recipe-button {
    display: inline-block;
    
}

 /* BEGIN selection.html styling */
/* table.grocery-list-table {
    margin-top: 20px;
} */
#selected-recipe-list {
    padding-left:10px;
    margin-left:10px;
    margin-bottom:20px;
    
}
#selected-recipe-list p {
    display: inline;
    margin-right: 5px;
}
/* .checkmark-form {
    display: inline-block;
} */
.add-to-list-btn {
    display: inline-block;
    background-color: white;
    border: none;
    padding:0;
}
.bi-plus-square {
    width:20px;
    height:20px;
    font-size:2em
}
.delete-list-item-btn {
    display: inline;
    background-color: white;
    border: none;
    padding:0;
}
#generate-list-btn {
    margin-left: 20px;
    background-color: green;
    color: white;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    border-width: 0;
}
/* input.is-selected-checkbox:checked {
    background-color: green;
} */

 /* END selection.html styling*/

 /* BEGIN grocery-list.html styling */
div.grocery-list-container {
    min-width: 400px;
    padding: 5px;
}
h2.heading-no-bottom-margin {
    margin-bottom: 0;
}
#grocery-list input {
    border: none;
    width:300px;
    margin-right:1px;
}



 /* END grocery-list.html styling */